body{
  background-image: url("back.png");
}

.form{
  font-family: roboto;
  display: grid;
  text-align: center;
  border: solid;
  margin-top:60px;
  margin-left:400px;
  margin-right: 400px;
  margin-bottom: 30px;
  border-color: #bababa;
  box-shadow: 5px 10px 80px #4a4a4a;
  padding: 20px;
  /* width:100%; */
  background-image: url("card_back.jpg");
  background-size:cover; 
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
}


#next{
  margin:20px auto;
  margin-left: 400px;
  width: 120px;
  margin-top: 20px;
  font-size: 17px;
  text-align:center;
  background:none;
  border:2px solid #54DEFD;
  padding:10px 35px;
  border-radius:24px;
  border-color:#cacaca;
  transition:0.25s;
  cursor:pointer;
  color:black;
  background-color: #FFFFFF;
}

#next:hover{
  color: white;
  background:#045175;
  border-color:#FFFFFF;
}

/* .division{
  background-color:
} */
/*.box{
  padding:50px 50px;
  text-align:center;
  background-color: #134074;
}
.box h1{
  text-transform: full-width;
  color:#D3E8FF;
}
.box input[type="email"],.box input[type="password"]
{
  margin:20px auto;
  text-align:center;
  border:2px solid;
  padding:14px 10px;
  background:none;
  border-radius:24px;
  border-color:black;
  transition:0.25s;
  cursor:pointer;
  color:black;
  font-size: 15px;
}
.box input[type="email"]:focus,.box input[type="password"]:focus{
  width:250px;
  border-color:#2ecc71;
}
.box input[type="submit"]
{
  margin:20px auto;
  text-align:center;
  background:none;
  border:2px solid #54DEFD;
  padding:14px 40px;
  border-radius:24px;
  border-color:black;
  transition:0.25s;
  cursor:pointer;
  color:black;
  background-color: #FFFAFF;
}
.box input[type="submit"]:hover{
  background:#FFFAFF;
  border-color:#FFFAFF;
} */

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
 font-size: 1em;
 color: #00A0E3;
 top: -2.25rem;
 -webkit-transition: all 0.125s ease;
 transition: all 0.125s ease;
}

.styled-input {
  float: left;
  width: 90%;
  margin: 2rem 0 1rem;
  position: relative;
}

.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { width: 100%; }

input,
textarea {
  padding: 1rem 1rem;
  border: 0;
  background: #f7f7f7 ;
  width: 100%;
  font-size: 1rem;
}

input ~ span,
textarea ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: #00A0E3;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}
ul.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color:#e6eeff;
}
ul.breadcrumb li {
display: inline;
font-size: 28px;
}
ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}
ul.breadcrumb li a {
color: #0275d8;
text-decoration: none;
}
ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;
}
