body{
  background-image: url("back.png");
}
.carousel-caption {
  max-width: 550px;
  padding: 0 20px;
  margin:0 auto;
  margin-top: 200px;
  margin-right:20px;
  text-align:center;
  top:0;
  right:0;
}
.size{
  height: 100%;
}
/* .card-img-top{
  height:100%;
  width:100%;
} */
ul.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color: #e6eeff;
}
ul.breadcrumb li {
display: inline;
font-size: 18px;
}
ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}
ul.breadcrumb li a {
color: #0275d8;
text-decoration: none;
}
ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;
}
